/*CSS Reset*/
* {
	margin:0px; 
	padding:0px;
}

body{ 
	
	font-size:12px; 
	color:#000; 
	font-family:helvetica, arial, sans-serif;
	background-color:red/*#6D85F2*/;
	text-align:center;
}

#blocoCabecalho, #blocoConteudo, #blocoRodape{
	background:red;
	width:100%;
	height:auto;	
	position:relative;
	padding:10px 0px;
}

#blocoCabecalho{
	/*6D85F2*/
	background-color:#6D85F2;
	height: 50px; 
}
#blocoConteudo{
	background-color:#FFF;
}
#blocoRodape{ 
	background:white;
	font-size:10px; 
	color:#FFF;
}

#logoCompany, #blocoConteudo h2, #blocoConteudo form .campos, #usuarioLogado {
	display:block;
	position:relative;
	overflow:hidden;	
}

#logoCompany {
	float:left;
}

#usuarioLogado  {
	float:right;
	height:auto;
	width:auto;
}

#blocoConteudo h2{
	font-size:2em;
	color:#2B2926;
	text-align:left;
	width:100%;
	height:auto;
	margin-bottom:10px;
	border-bottom:solid 1px #252210;
}

#blocoConteudo table.dados{
	width:100%;
	height:auto;
}

#blocoConteudo table.dados tr th{
	background-color:#0B0F19;
	color:#fff;
	color:1em;
	padding:10px;
}

#blocoConteudo table.dados tr td{
	padding:5px 10px;
}

/*basic configuration forms*/		
#blocoConteudo form{
	margin-bottom:15px;
}

/*///////////////*/
/*Footer internal*/
#blocoRodape a{
	color:#FFE773;
	text-decoration:none;
}

#blocoRodape a:hover{
	color:#6D89D5;
	text-decoration:underline;
}

input, textarea{
	-moz-border-radius:5px 5px 5px 5px;
	background:url("../resources/imagens/txt.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #999999;
	padding:5px 2px;
	margin-bottom: 3px;
}

.campos tbody tr td {
	padding-top: 10px;
	text-align: left;
}

h2 {
	width: 100%;
	border-bottom: 1px solid;
	font-size: x-large;
}

input[type="submit"] {
	background:url("../resources/imagens/fundo_botao.gif") repeat-x scroll 0 0 #2A2A2A;
	border:1px solid #272727;
	text-shadow:1px 1px 0 #000000;
	-moz-border-radius:5px 5px 5px 5px;
	color:#FFFFFF;
	cursor:pointer;
	padding:3px;
}

.dados {
	width: 100%;	
}

.dados thead tr th, .dados tbody tr td {
	padding: 0px 10px 0px 10px;	
}

.par  {
	background-color: #F0F9FF;
}

.impar {
	background:none repeat scroll 0 0 #DDDDDD;
}

form fieldset {
	text-align:left;
	display:inline;
	vertical-align: top;
	width:100%;
	padding: 0px 0px 10px 10px;
	margin-top: 5px;
}

form fieldset legend {
	font-weight: bold;
	font-size: medium;
	padding: 0px 5px;
}

label{
	float: left;
	width: 120px;
}

#titulo-index{
	/*width:500px*;*/
	width:100%;
	font-size:20px;
	color:#fff;
	text-align:center; 
	float:left;
	margin-top:20px; 
	border-bottom:3px solid white;
	border-top:3px solid white;
	
	padding-top:5px;
	padding-bottom:5px;
	
/*	position:relative;
	left:50%; margem que foi usado para os lados
	margin-left:-250px;*/
	
}


#content-login
{
	width:500px;
	height:300px;
	border:3px solid white;
	position:relative;
	left:50%;
	top:120px;
	margin-left:-250px;  
	
	   
}

#table-content
{
	width:220px;
	height:auto;
	margin:0px auto;
	
	
	   
}

#buttons-content
{
	
	width:320px;
	height:auto;
	margin:0px auto;
	
}


.inputsLogin
{
	width:300px;
	height:10px;
	background: white;
	
}

.index-buttonsClass
{
	margin-top:10px;
	color:white;
	width:100px; 
	border:3.5px solid white;
	background:#6D85F2;
	cursor:pointer;
	
}
.index-buttonsClass:HOVER
{
	margin-top:10px;
	color:white;
	width:100px; 
	border:3.5px solid white;
	background:#6D85F2;
	opacity:0.65
	
}
.index-buttonsClass:FIRST-CHILD
{

	margin-top:10px;
	margin-right:3px;
	
	color:white;
	width:100px; 
	border:3.5px solid white;
	background:#6D85F2;
	cursor:pointer;

	
}
.index-buttonsClass:ACTIVE
{
	margin-top:10px;
	color:white;
	width:100px; 
	border:3px solid white;
	background:#ccc;
	opacity:0.65
	
}


#link-content
{	
	float:left;
	color:white;
	text-decoration:underline;
	margin:0px auto;
	margin-top:20px;
	margin-left:100px;
	cursor:pointer;
}

#link-content:ACTIVE
{	
	float:left;
	color:red;
	text-decoration:underline;
	margin:0px auto;
	margin-top:20px;
	margin-left:100px;
	cursor:pointer;
}
